body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 80%;
}*/

h4 {
    top: 0;
    left: 110px;
    right: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0;
    color: black;
}

.color-black {
    color: black !important;
}

.btn-secondary:hover {
    color: #fff !important;
    background-color: #5a6268 !important;
    border-color: #545b62 !important;
}

.date .input-group-addon {
    border: 1px solid #ccc !important;
}

.grid-stylist th:nth-child(1) {
    width: 3%;
    text-align: right !important;
}

.grid-stylist th:nth-child(2) {
    width: 14%;
    text-align: left !important;
}

.grid-stylist th:nth-child(3) {
    width: 7%;
    text-align: left !important;
}

.grid-stylist th:nth-child(4) {
    width: 13%;
    text-align: center !important;
}

.grid-stylist th:nth-child(5) {
    width: 21%;
    text-align: left !important;
}

.grid-stylist th:nth-child(6) {
    width: 14%;
    text-align: left !important;
}

.grid-stylist th:nth-child(7) {
    width: 10%;
    text-align: left !important;
}

.grid-stylist th:nth-child(8) {
    width: 9%;
    text-align: center !important;
}

.grid-stylist th:nth-child(9) {
    width: 9%;
    text-align: center !important;
}

.grid-offer th:nth-child(1) {
    width: 3%;
    text-align: right !important;
}

.grid-offer th:nth-child(2) {
    width: 16%;
    text-align: left !important;
}

.grid-offer th:nth-child(3) {
    width: 29%;
    text-align: center !important;
}

.grid-offer th:nth-child(4) {
    width: 24%;
    text-align: left !important;
}

.grid-offer th:nth-child(5) {
    width: 10%;
    text-align: left !important;
}

.grid-offer th:nth-child(6) {
    width: 9%;
    text-align: center !important;
}

.grid-offer th:nth-child(7) {
    width: 9%;
    text-align: center !important;
}

.grid-customer th:nth-child(1) {
    width: 3%;
    text-align: right !important;
}

.grid-customer th:nth-child(2) {
    width: 15%;
    text-align: left !important;
}

.grid-customer th:nth-child(3) {
    width: 11%;
    text-align: left !important;
}

.grid-customer th:nth-child(4) {
    width: 18%;
    text-align: center !important;
}

.grid-customer th:nth-child(5) {
    width: 18%;
    text-align: right !important;
}

.grid-customer th:nth-child(6) {
    width: 15%;
    text-align: center !important;
}

.grid-customer th:nth-child(7) {
    width: 10%;
    text-align: center !important;
}

.grid-customer th:nth-child(8) {
    width: 10%;
    text-align: center !important;
}

.grid-salon-account-service th:nth-child(1) {
    width: 3%;
    text-align: right !important;
}

.grid-salon-account-service th:nth-child(2) {
    width: 18%;
    text-align: left !important;
}

.grid-salon-account-service th:nth-child(3) {
    width: 10%;
    text-align: center !important;
}

.grid-salon-account-service th:nth-child(4) {
    width: 13%;
    text-align: right !important;
}

.grid-salon-account-service th:nth-child(5) {
    width: 13%;
    text-align: right !important;
}

.grid-salon-account-service th:nth-child(6) {
    width: 10%;
    text-align: right !important;
}

.grid-salon-account-service th:nth-child(7) {
    width: 10%;
    text-align: right !important;
}

.grid-salon-account-service th:nth-child(8) {
    width: 10%;
    text-align: center !important;
}

.grid-salon-account-service th:nth-child(9) {
    width: 8%;
    text-align: center !important;
}

.grid-salon-account-service th:nth-child(10) {
    width: 6%;
    text-align: center !important;
}

.grid-salon-account-service-type th:nth-child(1) {
    width: 5%;
    text-align: right !important;
}

.grid-salon th:nth-child(1) {
    width: 3%;
    text-align: right !important;
}

.grid-salon th:nth-child(2) {
    width: 12%;
    text-align: left !important;
}

.grid-salon th:nth-child(3) {
    width: 12%;
    text-align: center !important;
}

.grid-salon th:nth-child(4) {
    width: 20%;
    text-align: left !important;
}

.grid-salon th:nth-child(5) {
    width: 8%;
    text-align: right !important;
}

.grid-salon th:nth-child(6) {
    width: 9%;
    text-align: center !important;
}

.grid-salon th:nth-child(7) {
    width: 1%;
    text-align: right !important;
}

.grid-salon th:nth-child(8) {
    width: 12%;
    text-align: left !important;
}

.grid-salon th:nth-child(9) {
    width: 8%;
    text-align: center !important;
}

.grid-salon th:nth-child(10) {
    width: 15%;
    text-align: center !important;
}

.grid-emailTemplate th:nth-child(1) {
    width: 3%;
    text-align: right !important;
}

.grid-emailTemplate th:nth-child(2) {
    width: 12%;
    text-align: left !important;
}

.grid-emailTemplate th:nth-child(3) {
    width: 25%;
    text-align: left !important;
}

.grid-emailTemplate th:nth-child(4) {
    width: 24%;
    text-align: left !important;
}

.grid-emailTemplate th:nth-child(5) {
    width: 25%;
    text-align: left !important;
}

.grid-emailTemplate th:nth-child(6) {
    width: 11%;
    text-align: center !important;
}

.grid-smsTemplate th:nth-child(1) {
    width: 5%;
    text-align: right !important;
}

.grid-smsTemplate th:nth-child(2) {
    width: 15%;
    text-align: left !important;
}

.grid-smsTemplate th:nth-child(3) {
    width: 22%;
    text-align: left !important;
}

.grid-smsTemplate th:nth-child(4) {
    width: 34%;
    text-align: left !important;
}

.grid-smsTemplate th:nth-child(5) {
    width: 10%;
    text-align: center !important;
}

.grid-order th:nth-child(1) {
    width: 3%;
    text-align: right !important;
}

.grid-order th:nth-child(2) {
    width: 16%;
    text-align: center !important;
}

.grid-order th:nth-child(3) {
    width: 16%;
    text-align: center !important;
}

.grid-order th:nth-child(4) {
    width: 16%;
    text-align: center !important;
}

.grid-order th:nth-child(5) {
    width: 14%;
    text-align: left !important;
}

.grid-order th:nth-child(6) {
    width: 14%;
    text-align: left !important;
}

.grid-order th:nth-child(7) {
    width: 12%;
    text-align: center !important;
}

.grid-order th:nth-child(8) {
    width: 9%;
    text-align: center !important;
}

.grid-order-pending th:nth-child(1) {
    width: 3%;
    text-align: right !important;
}

.grid-order-pending th:nth-child(2) {
    width: 9%;
    text-align: left !important;
}

.grid-order-pending th:nth-child(3) {
    width: 10%;
    text-align: left !important;
}

.grid-order-pending th:nth-child(4) {
    width: 14%;
    text-align: left !important;
}

.grid-order-pending th:nth-child(5) {
    width: 9%;
    text-align: center !important;
}

.grid-order-pending th:nth-child(6) {
    width: 9%;
    text-align: center !important;
}

.grid-order-pending th:nth-child(7) {
    width: 10%;
    text-align: right !important;
}

.grid-order-pending th:nth-child(8) {
    width: 11%;
    text-align: right !important;
}

.grid-order-pending th:nth-child(9) {
    width: 8%;
    text-align: right !important;
}

.grid-order-pending th:nth-child(10) {
    width: 4%;
    text-align: left !important;
}

.grid-order-pending th:nth-child(11) {
    width: 6%;
    text-align: left !important;
}

.grid-order-pending th:nth-child(12) {
    width: 6%;
    text-align: center !important;
}

.grid-order-approved th:nth-child(1) {
    width: 2%;
    text-align: right !important;
}

.grid-order-approved th:nth-child(2) {
    width: 9%;
    text-align: left !important;
}

.grid-order-approved th:nth-child(3) {
    width: 11%;
    text-align: left !important;
}

.grid-order-approved th:nth-child(4) {
    width: 8%;
    text-align: left !important;
}

.grid-order-approved th:nth-child(5) {
    width: 8%;
    text-align: left !important;
}

.grid-order-approved th:nth-child(6) {
    width: 9%;
    text-align: center !important;
}

.grid-order-approved th:nth-child(7) {
    width: 9%;
    text-align: center !important;
}

.grid-order-approved th:nth-child(8) {
    width: 8%;
    text-align: right !important;
}

.grid-order-approved th:nth-child(9) {
    width: 10%;
    text-align: right !important;
}

.grid-order-approved th:nth-child(10) {
    width: 7%;
    text-align: right !important;
}

.grid-order-approved th:nth-child(11) {
    width: 7%;
    text-align: left !important;
}

.grid-order-approved th:nth-child(12) {
    width: 5%;
    text-align: left !important;
}

.grid-order-approved th:nth-child(13) {
    width: 7%;
    text-align: center !important;
}

.grid-order-service th:nth-child(1) {
    width: 7%;
    text-align: right !important;
}

.grid-order-service th:nth-child(2) {
    width: 25%;
    text-align: left !important;
}

.grid-order-service th:nth-child(3) {
    width: 23%;
    text-align: left !important;
}

.grid-order-service th:nth-child(4) {
    width: 15%;
    text-align: left !important;
}

.grid-order-service th:nth-child(5) {
    width: 15%;
    text-align: right !important;
}

.grid-order-service th:nth-child(6) {
    width: 20%;
    text-align: right !important;
}

.grid-offer-service th:nth-child(1) {
    width: 7%;
    text-align: right !important;
}

.grid-offer-service th:nth-child(2) {
    width: 30%;
    text-align: left !important;
}

.grid-offer-service th:nth-child(3) {
    width: 23%;
    text-align: left !important;
}

.grid-offer-service th:nth-child(4) {
    width: 20%;
    text-align: left !important;
}

.grid-offer-service th:nth-child(5) {
    width: 20%;
    text-align: left !important;
}

.grid-salon-service th:nth-child(1) {
    width: 5%;
    text-align: right !important;
}

.grid-salon-service th:nth-child(2) {
    width: 18%;
    text-align: left !important;
}

.grid-salon-service th:nth-child(3) {
    width: 8%;
    text-align: center !important;
}

.grid-salon-service th:nth-child(4) {
    width: 11%;
    text-align: right !important;
}

.grid-salon-service th:nth-child(5) {
    width: 11%;
    text-align: right !important;
}

.grid-salon-service th:nth-child(6) {
    width: 11%;
    text-align: right !important;
}

.grid-salon-service th:nth-child(7) {
    width: 11%;
    text-align: right !important;
}

.grid-salon-service th:nth-child(8) {
    width: 9%;
    text-align: center !important;
}

.grid-salon-service th:nth-child(9) {
    width: 7%;
    text-align: center !important;
}

.grid-salon-service th:nth-child(10) {
    width: 9%;
    text-align: center !important;
}

.grid-credit th:nth-child(1) {
    width: 4%;
    text-align: right !important;
}

.grid-credit th:nth-child(2) {
    width: 19%;
    text-align: left !important;
}

.grid-credit th:nth-child(3) {
    width: 19%;
    text-align: left !important;
}

.grid-credit th:nth-child(4) {
    width: 15%;
    text-align: center !important;
}

.grid-credit th:nth-child(5) {
    width: 15%;
    text-align: center !important;
}

.grid-credit th:nth-child(6) {
    width: 13%;
    text-align: right !important;
}

.grid-credit th:nth-child(7) {
    width: 10%;
    text-align: center !important;
}

.grid-credit th:nth-child(8) {
    width: 10%;
    text-align: right !important;
}

.grid-PromoCodeLog th:nth-child(1) {
    width: 10%;
    text-align: right !important;
}

.grid-PromoCodeLog th:nth-child(2) {
    width: 35%;
    text-align: left !important;
}

.grid-PromoCodeLog th:nth-child(3) {
    width: 30%;
    text-align: left !important;
}

.grid-PromoCodeLog th:nth-child(4) {
    width: 25%;
    text-align: center !important;
}

.grid-order-cancelled th:nth-child(1) {
    width: 3%;
    text-align: right !important;
}

.grid-order-cancelled th:nth-child(2) {
    width: 9%;
    text-align: left !important;
}

.grid-order-cancelled th:nth-child(3) {
    width: 9%;
    text-align: left !important;
}

.grid-order-cancelled th:nth-child(4) {
    width: 11%;
    text-align: left !important;
}

.grid-order-cancelled th:nth-child(5) {
    width: 10%;
    text-align: center !important;
}

.grid-order-cancelled th:nth-child(6) {
    width: 9%;
    text-align: center !important;
}

.grid-order-cancelled th:nth-child(7) {
    width: 9%;
    text-align: right !important;
}

.grid-order-cancelled th:nth-child(8) {
    width: 9%;
    text-align: right !important;
}

.grid-order-cancelled th:nth-child(9) {
    width: 7%;
    text-align: right !important;
}

.grid-order-cancelled th:nth-child(10) {
    width: 12%;
    text-align: left !important;
}

.grid-order-cancelled th:nth-child(11) {
    width: 6%;
    text-align: center !important;
}

.grid-order-cancelled th:nth-child(12) {
    width: 6%;
    text-align: center !important;
}

.grid-promoCode th:nth-child(1) {
    width: 3%;
    text-align: right !important;
}

.grid-promoCode th:nth-child(2) {
    width: 9%;
    text-align: left !important;
}

.grid-promoCode th:nth-child(3) {
    width: 9%;
    text-align: left !important;
}

.grid-promoCode th:nth-child(4) {
    width: 7%;
    text-align: left !important;
}

.grid-promoCode th:nth-child(5) {
    width: 5%;
    text-align: left !important;
}

.grid-promoCode th:nth-child(6) {
    width: 5%;
    text-align: left !important;
}

.grid-promoCode th:nth-child(7) {
    width: 14%;
    text-align: center !important;
}

.grid-promoCode th:nth-child(8) {
    width: 7%;
    text-align: center !important;
}

.grid-promoCode th:nth-child(9) {
    width: 9%;
    text-align: right !important;
}

.grid-promoCode th:nth-child(10) {
    width: 7%;
    text-align: center !important;
}

.grid-promoCode th:nth-child(11) {
    width: 7%;
    text-align: center !important;
}

.grid-promoCode th:nth-child(12) {
    width: 7%;
    text-align: center !important;
}

.grid-serviceType th:nth-child(1) {
    width: 8%;
    text-align: right !important;
}

.grid-serviceType th:nth-child(2) {
    width: 24%;
    text-align: left !important;
}

.grid-serviceType th:nth-child(3) {
    width: 16%;
    text-align: center !important;
}

.grid-serviceType th:nth-child(4) {
    width: 21%;
    text-align: center !important;
}

.grid-serviceType th:nth-child(5) {
    width: 21%;
    text-align: center !important;
}

.grid-feedback th:nth-child(1) {
    width: 3%;
    text-align: right !important;
}

.grid-feedback th:nth-child(2) {
    width: 16%;
    text-align: left !important;
}

.grid-feedback th:nth-child(3) {
    width: 11%;
    text-align: left !important;
}

.grid-feedback th:nth-child(4) {
    width: 11%;
    text-align: left !important;
}

.grid-feedback th:nth-child(5) {
    width: 11%;
    text-align: center !important;
}

.grid-feedback th:nth-child(6) {
    width: 30%;
    text-align: left !important;
}

.grid-feedback th:nth-child(7) {
    width: 9%;
    text-align: left !important;
}

.grid-feedback th:nth-child(8) {
    width: 11%;
    text-align: center !important;
}

.grid-order-unpaid th:nth-child(1) {
    width: 3%;
    text-align: right !important;
}

.grid-order-unpaid th:nth-child(2) {
    width: 11%;
    text-align: center !important;
}

.grid-order-unpaid th:nth-child(3) {
    width: 14%;
    text-align: left !important;
}

.grid-order-unpaid th:nth-child(4) {
    width: 14%;
    text-align: left !important;
}

.grid-order-unpaid th:nth-child(5) {
    width: 11%;
    text-align: center !important;
}

.grid-order-unpaid th:nth-child(6) {
    width: 10%;
    text-align: right !important;
}

.grid-order-unpaid th:nth-child(7) {
    width: 12%;
    text-align: right !important;
}

.grid-order-unpaid th:nth-child(8) {
    width: 9%;
    text-align: right !important;
}

.grid-order-unpaid th:nth-child(9) {
    width: 9%;
    text-align: left !important;
}

.grid-order-unpaid th:nth-child(10) {
    width: 9%;
    text-align: center !important;
}

.grid-customer-credit-log th:nth-child(1) {
    width: 5%;
    text-align: right !important;
}

.grid-customer-credit-log th:nth-child(2) {
    width: 18%;
    text-align: left !important;
}

.grid-customer-credit-log th:nth-child(3) {
    width: 15%;
    text-align: left !important;
}

.grid-customer-credit-log th:nth-child(4) {
    width: 15%;
    text-align: left !important;
}
/*.grid-customer-credit-log th:nth-child(5) { width: 14%; text-align: center !important; }*/
.grid-customer-credit-log th:nth-child(6) {
    width: 20%;
    text-align: center !important;
}

.grid-salon-account-credit th:nth-child(1) {
    width: 5%;
    text-align: right !important;
}

.grid-salon-account-credit th:nth-child(2) {
    width: 20%;
    text-align: left !important;
}

.grid-salon-account-credit th:nth-child(3) {
    width: 18%;
    text-align: left !important;
}

.grid-salon-account-credit th:nth-child(4) {
    width: 10%;
    text-align: center !important;
}

.grid-salon-account-credit th:nth-child(5) {
    width: 10%;
    text-align: center !important;
}

.grid-salon-account-credit th:nth-child(6) {
    width: 10%;
    text-align: center !important;
}

.grid-salon-account-credit th:nth-child(7) {
    width: 10%;
    text-align: right !important;
}

.grid-salon-account-credit th:nth-child(8) {
    width: 18%;
    text-align: center !important;
}

.grid-credit-Log th:nth-child(1) {
    width: 5%;
    text-align: right !important;
}

.grid-credit-Log th:nth-child(2) {
    width: 25%;
    text-align: center !important;
}

.grid-credit-Log th:nth-child(3) {
    width: 25%;
    text-align: center !important;
}

.grid-credit-Log th:nth-child(4) {
    width: 20%;
    text-align: right !important;
}

.grid-credit-Log th:nth-child(5) {
    width: 20%;
    text-align: right !important;
}

.grid-promoCode-first-time th:nth-child(1) {
    width: 3%;
    text-align: right !important;
}

.grid-promoCode-first-time th:nth-child(2) {
    width: 10%;
    text-align: left !important;
}

.grid-promoCode-first-time th:nth-child(3) {
    width: 10%;
    text-align: left !important;
}

.grid-promoCode-first-time th:nth-child(4) {
    width: 7%;
    text-align: left !important;
}

.grid-promoCode-first-time th:nth-child(5) {
    width: 7%;
    text-align: left !important;
}

.grid-promoCode-first-time th:nth-child(6) {
    width: 5%;
    text-align: right !important;
}

.grid-promoCode-first-time th:nth-child(7) {
    width: 5%;
    text-align: right !important;
}

.grid-promoCode-first-time th:nth-child(8) {
    width: 14%;
    text-align: center !important;
}

.grid-promoCode-first-time th:nth-child(9) {
    width: 7%;
    text-align: right !important;
}

.grid-promoCode-first-time th:nth-child(10) {
    width: 8%;
    text-align: right !important;
}

.grid-promoCode-first-time th:nth-child(11) {
    width: 8%;
    text-align: center !important;
}

.grid-promoCode-first-time th:nth-child(12) {
    width: 7%;
    text-align: center !important;
}

.grid-promoCode-first-time th:nth-child(13) {
    width: 6%;
    text-align: center !important;
}

.grid-customer-order-log th:nth-child(1) {
    width: 3%;
    text-align: right !important;
}

.grid-customer-order-log th:nth-child(2) {
    width: 9%;
    text-align: left !important;
}

.grid-customer-order-log th:nth-child(3) {
    width: 16%;
    text-align: left !important;
}

.grid-customer-order-log th:nth-child(4) {
    width: 9%;
    text-align: center !important;
}

.grid-customer-order-log th:nth-child(5) {
    width: 9%;
    text-align: left !important;
}

.grid-customer-order-log th:nth-child(6) {
    width: 8%;
    text-align: right !important;
}

.grid-customer-order-log th:nth-child(7) {
    width: 7%;
    text-align: right !important;
}

.grid-customer-order-log th:nth-child(8) {
    width: 7%;
    text-align: right !important;
}

.grid-customer-order-log th:nth-child(9) {
    width: 8%;
    text-align: right !important;
}

.grid-customer-order-log th:nth-child(10) {
    width: 9%;
    text-align: right !important;
}

.grid-customer-order-log th:nth-child(11) {
    width: 15%;
    text-align: left !important;
}

.grid-offer-single-order-package th:nth-child(1) {
    width: 4%;
    text-align: right !important;
}

.grid-offer-single-order-package th:nth-child(2) {
    width: 17%;
    text-align: left !important;
}

.grid-offer-single-order-package th:nth-child(3) {
    width: 22%;
    text-align: center !important;
}

.grid-offer-single-order-package th:nth-child(4) {
    width: 29%;
    text-align: left !important;
}

.grid-offer-single-order-package th:nth-child(5) {
    width: 12%;
    text-align: left !important;
}

.grid-offer-single-order-package th:nth-child(6) {
    width: 8%;
    text-align: center !important;
}

.grid-offer-single-order-package th:nth-child(7) {
    width: 8%;
    text-align: center !important;
}

.grid-direct-pay th:nth-child(1) {
    width: 3%;
    text-align: right !important;
}

.grid-direct-pay th:nth-child(2) {
    width: 15%;
    text-align: left !important;
}

.grid-direct-pay th:nth-child(3) {
    width: 11%;
    text-align: left !important;
}

.grid-direct-pay th:nth-child(4) {
    width: 18%;
    text-align: center !important;
}

.grid-direct-pay th:nth-child(5) {
    width: 18%;
    text-align: left !important;
}

.grid-direct-pay th:nth-child(6) {
    width: 15%;
    text-align: right !important;
}

.grid-direct-pay th:nth-child(7) {
    width: 10%;
    text-align: center !important;
}

.grid-direct-pay th:nth-child(8) {
    width: 10%;
    text-align: center !important;
}

.grid-user th:nth-child(1) {
    width: 5%;
    text-align: right !important;
}

.grid-user th:nth-child(2) {
    width: 27%;
    text-align: left !important;
}

.grid-user th:nth-child(3) {
    width: 26%;
    text-align: left !important;
}

.grid-user th:nth-child(4) {
    width: 27%;
    text-align: left !important;
}

.grid-user th:nth-child(5) {
    width: 10%;
    text-align: center !important;
}

.grid-service-serviceType th:nth-child(1) {
    width: 5%;
    text-align: right !important;
}

.pager a {
    border: solid 1px #DDDDDD;
    border-radius: 13px;
    padding: 3px 10px;
}

.pager .label {
    font-size: 12px;
    padding: 4px 5px 5px;
}

.grid-widget-header-button {
    margin-top: 4px;
    margin-right: 20px;
}

.widget-header-button {
    margin-top: 4px;
    margin-right: 15px;
}

.padding-status {
    padding: 3px 5px;
}

.grid-font thead tr th {
    font-size: 15px;
}

.co-red {
    color: red;
}

.visible-false {
    visibility: hidden !important;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

    .btn-secondary:hover {
        color: #fff !important;
        background-color: #5a6268 !important;
        border-color: #545b62 !important;
    }

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}

.float-right {
    float: right !important;
}

.caret {
    margin-top: 9px;
    float: right;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.dt-buttons {
    float: left !important;
}

.col-12 {
    width: 99%;
}

.dataTables_paginate {
    margin-top: -29px !important;
}

.adjacent-btn {
    margin-left: 6px !important;
}

/*.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}*/


input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

/*.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}*/

.p-l0 {
    padding-left: 0px !important;
}

.p-r0 {
    padding-right: 0px !important;
}

.m-l-50 {
    margin-left: -50px !important;
}

.select2-selection__choice {
    margin-top: 3px !important;
}

.select2-container .select2-selection--multiple {
    min-height: 34px !important;
    border: 1px solid #e3e3e3;
    height: 0px !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.label-text {
    padding-top: 7px !important;
}

.display-none {
    display: none;
}

.row {
    display: block !important;
}

.modal-backdrop.fade.show {
    z-index: -1 !important;
}

.btn-secondary {
    color: white !important;
}

input[type=date] {
    width: 20%;
}

h4 {
    overflow: visible;
}


.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1.5rem !important;
    height: 1.5rem !important;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-control-label {
    padding-left: 5px !important;
    padding-top: 1px !important;
}

.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1.5rem !important;
    height: 1.5rem !important;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.grid-date {
    width: 160px !important;
}

.green-border-focus .form-control:focus {
    border: 1px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}

.grid-dropdown {
    padding-left: 5px !important;
}

.warning-label{
    font-weight: 300 !important;
    color: red;
    padding-left: 5px!important;
}